<h1>Query Results</h1>

<% @products_hash['results'].each do |result| %>

  <h3>Result</h3>
  <ul>
    <% result.each do |key, value| %>
        <li><strong><%= key %></strong> : <%= value %></li>
    <% end %>
    <br>
  </ul>

<% end %>
